.anime-lists {
    margin-top: 5rem;
    display: flex;

    &_item-wrapper {
        background: #fff;
        display: flex;
        position: relative;
        width: calc(100% / 2 - 1rem);

        @media (min-width: 1024px) {
            width: calc(100% / 3 - 1rem);
        }
    }
}